/* style sheet for resume */

img {
	width: 25%;
	height: auto;
	border: 5px solid #032e4f;
	border-radius: 30px;
}

body {
	background-color: #81b5df;
	font-family: Tahoma;
}

#image_center {
	text-align: center;
}

.links {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 15px;
	margin: 3%;
	border: 2px solid white
}

#center_links{
	text-align: center;
}

h1 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 25px;
}

#name_index {
	font-size: 35px;
	font-family: Georgia;
	font-weight: bold;
	text-align: center;
}

.headings {
	font-family: Georgia;
	border-top: 1px solid black;
	padding-top: 10px;
}

ul {
	font-size: 14px;
}

.activities_skills {
	font-size: 16px;
}

#bio {
	font-family: Tahoma;
	font-size: 16px;
	text-align: center;
}

.bottom_links {
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
}
